<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body >
    
   
        <div class="flex-container">
          <div class="header">
            <a >{{title}}</a>
          </div>
          <div class=" flex active">
            <a href="#" class="btn btn-primary ">Home</a>
             <a  [routerLink]="['/books']" class="btn btn-primary">Books</a>
              <a  [routerLink]="['/characters']" class="btn btn-primary">Character</a>
            <a  [routerLink]="['/houses']" class="btn btn-primary">Houses</a>
          </div>
        </div>
  

      <router-outlet></router-outlet>
</body>
</html>

