
<html>



<body>
        <div class="container" >
                <div class="content" > 
            <td class="size" >
                <tr>Name of character:
             {{characters.name|json}}
                </tr>
                <tr>
            Gender :{{characters.gender|json}}
                </tr>
            <tr>
            
               Culture: {{characters.culture|json}}
            </tr>
            <tr>
            
               Other Names: {{characters.aliases[0]|json}}
            </tr>
            
            
            
            
            
            </div>
            
            </div>
            
            



</body>
</html>



