<html>

<body>

 <div class="container" >
                <div  class="content"> 
            <td class="size" >
                <tr>House Name:
             {{houses.name|json}}
                </tr>
                <tr>
            Region:{{houses.region|json}}
                </tr>
            <tr>
            
               CoatOfArms: {{houses.coatOfArms|json}}
            </tr>
            <tr>
            
               Words: {{houses.words|json}}
            </tr>
            
            
            
            
            
            </div>
            
            </div>

</body>



</html>


